<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>買飯</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

<%= javascript_include_tag "application" %>
</body>
</html>